<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show the data</title>
</head>

<body>
    <%for(var k = 0;k < data.length;k++){%>
        <h1>showing table data 1-10!!</h1>

        <table align="center" border="1">
            <!-- <%= data%> -->
            <tr>
                <td>Id</td>
                <td>F_name</td>
                <td>L_name</td>
                <td>S_city</td>
                <td>S_contact</td>
                <td>S_email</td>
                <td>Created_date</td>
            </tr>

            <%if(data.length){%>
                <%for(var i = 0;i < data[0].length;i++){%>

                    <tr>
                        <td>
                            <%= data[k][i].id%>
                        </td>
                        <td>
                            <%= data[k][i].f_name%>
                        </td>
                        <td>
                            <%= data[k][i].l_name%>
                        </td>
                        <td>
                            <%= data[k][i].s_city%>
                        </td>
                        <td>
                            <%= data[k][i].s_contact%>
                        </td>
                        <td>
                            <%= data[k][i].s_email%>
                        </td>
                        <td>
                            <%= data[k][i].created_time%>
                        </td>
                    </tr>

                    <%}%>
                        <%}
            else{%>
                            <tr>
                                <td colspan="6">No user</td>
                            </tr>
                            <%}%>
        </table><br>

        <%}%>

</body>

</html>